* {
  margin: 0;
  padding: 0;
  font-family: " PSimSun", cursive, serif, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e5e5eb;
}

.first {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background-image: url(./bac.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 20px;
  opacity: 0.9;

  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first .parCel {
  background-image: url("/bac.png");
}

.liter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0e0e0e;
  color: #fbfbff;
  width: 100%;
  opacity: 0.8;
}
.container {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  padding: 40px;
  flex-direction: column;
}

.text1 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  border-width: 10px;
}

.star {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.star .name {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding: 20px;
}

.star .text3 img {
  max-width: 100%;
  height: 450px;
  width: 300px;
  border-radius: 10px;
}

.text1 .text2 {
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  width: 1000px;
  height: 300px;
  background: rgb(207, 222, 240);
  margin-bottom: 100px;
  padding: 5%;
}
.text1 .t2 {
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 160px;
  height: 40px;
  background: rgb(52, 135, 228);
  margin: 10px;
  font-size: 32px;
  font-display: center;
  color: #fbfbff;
  font-family: "Times New Roman", Times, serif;
  border-radius: 15%;
}
.text1 .t3 .te {
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 260px;
  height: 40px;
  background: rgb(52, 135, 228);
  margin: 10px;
  font-size: 32px;
  font-display: center;
  color: #fbfbff;
  font-family: "Times New Roman", Times, serif;
  border-radius: 15%;
}
.text1 .text2 .cons {
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  margin-bottom: 200px;
  width: 1000px;
  height: 40px;
  margin: 10px;
  font-size: 32px;
}

.work {
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  border-top: -200px;
  max-width: 350px;
  height: 40px;
  background: rgb(52, 135, 228);
  margin: 10px;
  font-size: 32px;
  font-display: center;
  color: #fbfbff;
  font-family: "Times New Roman", Times, serif;
  border-radius: 15%;
}

.container .card {
  position: relative;
  width: 800px;
  height: 450px;
  background: #fff;
  margin: 30px 20px;
  margin-right: -200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  width: 100%;
}

.container .card .imgBx {
  position: relative;
  width: 800px;
  height: 450px;
  left: -200px;
  z-index: 1;
  box-shadow: 10 5px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
  height: 450px;
  width: 600px;
}

.container .card .imgBx img:hover {
  margin-left: -500px;
  transition: 0.3s;
}
.container .card .content {
  position: relative;
  font-size: large;
  text-align: center;
  margin-top: -300px;
  margin-left: 150px;
  padding-left: 300px;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;

  transition-delay: 0.3s;
}

.end1 {
  display: flex;
  position: relative;
  background: rgb(164, 154, 154);
  width: 100%;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}

.end1 .end2 {
  color: #fbfbff;
  text-align: center;
}
